- if !@page.new_record? && (flow_meter = @page.flow_meter)
  %p
    = t('vapor.visitors_redirected')
    = link_to flow_meter.redirect_url_for_display, flow_meter.local_or_external_redirect_url
    - if admin?
      - unless config['vapor.use_regexp']
        = link_to t('vapor.remove_this_redirect'), admin_flow_meter_path(flow_meter), :method => :delete
      - else
        = link_to t('vapor.manage_traffic'), admin_flow_meters_path