- admin_help do
  %h4 Slugs and Redirects
  %p= "You've got the Vapor extension installed which allows you to create false pages or false slugs. The #{link_to 'Redirects', admin_flow_meters_path} tab provides you with an area where you can create a slug, or url that will redirect your site visitors to another location."
  %p So if you want your 'About Us' page to be found at yoursite.com/about and also at yoursite.com/about-us then you can create your page with 'about-us' as the slug, and create a redirect from '/about' to '/about-us'.